@import "styles/reset";

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #373945;
  display: grid;
  margin: 0 2%;
  background-color: #fffff9;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-size: 16px;
  margin: 5px 0;

  &__year {
    font-size: 14px;
  }

  &__link {
    text-decoration: none;
  }
}

.header {
  text-align: center;
  border: 1px solid grey;
  margin: 5px auto;
  width: 100%;
  padding: 10px;
  max-width: 200px;

  &__osvalds {
    font-weight: 700;
  }

  &__loan {
    font-weight: 100;
  }
}

.loan-header {
  text-align: center;
  padding: 4px 0;

  &__special {
    font-size:  18px;
    font-weight: 700;
  }
}

.loan-wrapper {
  margin: 12px 0;
  border: 1px solid #373945;
  border-radius: 2px;
  padding: 5px 10px;
}

.loan-description {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 14px;
  &__left {

  }

  &__right {
    font-weight: 700;
  }
}

.hero {
  margin: 0 -2%;

  @media (min-width: 900px) {
    margin: 0;
  }
  &__image {
    display: block;
    max-width: 100%;

  }

}

@media (min-width: 900px) {
  .main {
    &__header {
      grid-area: header;
      align-self: self-start;
    }

    &__right {
      grid-area: slider;
    }

    &__left {
      grid-area: hero;
    }

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "header header" "hero slider";
  }
}

.slider-wrapper {
  padding: 0 5px;
}